.background {
    position: absolute;
    width: 940px;
    height: 1690px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 10;
    border-radius: 99px;
    border: 10px solid black;
    overflow: hidden;
    display: block;
}
