.screen-container {
    position: absolute;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7777;
    padding: 10px;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40px;
    overflow: hidden;
}

.gid-item {
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dynamic-island {
    justify-content: end;
    background-color: black;
    padding-right: 10px;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(61, 56, 56, 0.1);
}

.camera-dot {
    background-color: #ffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    opacity: 0.3;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-dot-2 {
    background-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}
.applications-section {
    height: calc(100% - 110px - 5px);
}
.bottom-section {
    height: 70px;
    margin: 0 30px 0 30px;
    background-color: #414141;
    opacity: 0.8;
    border-radius: 20px;
}