.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #010012;
}

.iphone-section {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 40hv;
    min-width: 1200px;
    height: 100%;
    min-height:  1700px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-shrink: 0;
}

.iphone-mock {
    position: relative;
    z-index: 1;
    width: 950px;
    height: 1700px;
}

.borderLine {
    background-color: #152839;
    box-shadow: inset 0 0 3px 1px #fff;
}

.top {
    height: 150px;
    width: 100%;
    border-radius: 100px 100px 0 0;
    margin-bottom: 10px;
}

.bottom {
    height: 150px;
    width: 100%;
    border-radius: 0 0 100px 100px;
    margin-top: 10px;
}

.mid {
    height: calc(100% - 300px - 20px);
    width: 100%;
}

.button {
    background-color: white;
    height: 100px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    font-size: 2em;
}
