.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 12% 12% 15%;
    height: 100vh;
    padding-bottom: 10vh;
    position: relative;
}

.top-container {
    display: flex;
    height: 5vh;
    background-color: white;
    border-radius: 60px 60px 0 0;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.center-container {
    display: flex;
    flex-grow: 1;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    display: flex;
    height: 5vh;
    background-color: white;
    border-radius: 0 0 60px 60px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.overlay-container {
    position: absolute;
    top: 0.2%;
    left: 0.8%;
    right: 0.8%;
    bottom: 10.3%;
    background-color: black; /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    z-index: 1; /* Ensure overlay appears on top of the content */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optional shadow for the overlay */
}

.overlay-screen {
    position: absolute;
    top: 0.8%;
    left: 2%;
    right: 2%;
    bottom: 11%;
    background-color: white; /* Semi-transparent background */
    display: flex;
    justify-content: center;
    border-radius: 60px;
    z-index: 2; /* Ensure overlay appears on top of the content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Optional shadow for the overlay */
}

.top-bar {
    display: grid;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: 1fr 2fr 1fr; /* 3 equal columns */
    align-items: center; /* Center content vertically */
    height: 50px; /* Adjust height as needed */
}

.camera {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 0 0 30px 30px;
}

.left-bar,
.right-bar {
    text-align: center;
    font-size: 2.5em;
}